@import '../../styles/variables';

.SignUp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .signUpBox {
    margin: 130px auto 100px auto;

    .inputBox {
      display: flex;
      flex-direction: column;
      width: 600px;

      .name,
      .email,
      .password,
      .address {
        margin-bottom: 6px;
        font-size: large;
      }

      .nameBox,
      .emailBox,
      .passwordBox,
      .addressBox {
        width: 100%;
        height: 43px;
        margin-bottom: 20px;
        padding-left: 10px;
        border: solid 1px;
        font-size: 15px;
        opacity: 0.8;
      }

      .passwordContainer {
        position: relative;
      }

      .onEye {
        position: absolute;
        top: auto;
        left: auto;
        bottom: 30px;
        right: 30px;
        cursor: pointer;
      }

      .wrongShow {
        font-weight: bold;
        color: red;
        opacity: 0.5;
      }

      .wrongHide {
        display: none;
      }
    }

    .checkBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 600px;
      margin-top: 30px;

      .line {
        border: solid 1px black;
        margin-bottom: 20px;
      }

      .agreement {
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: bold;
      }

      .checkInput {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px auto 40px auto;
        padding-left: 150px;

        .allAgree {
          display: flex;
          position: relative;
          align-items: center;
          margin-bottom: 30px;

          .headPoint {
            width: 15px;
            height: 15px;
            margin-right: 20px;
            cursor: pointer;
          }

          .agreedName {
            font-size: 25px;
          }
        }
      }

      .subCheck {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        width: 500px;

        .choose {
          margin-left: 5px;
          color: gray;
        }

        .checkPoint {
          width: 15px;
          height: 15px;
          margin-right: 20px;
          cursor: pointer;
        }

        .checkPoint:checked {
          color: white;
          background-color: black;
        }

        .readMore {
          position: absolute;
          margin-left: 300px;
          text-decoration: underline;
        }
      }

      .registerBox {
        height: 40px;
        margin-bottom: 21px;
        color: white;
        background-color: black;
        border-radius: 45px;
        border: none;
        font-size: large;
        cursor: pointer;

        .registerStyle {
          font-size: 23px;
          -webkit-transition: all 0.1s linear;
          transition: all 0.1s linear;
        }
      }

      .registerBox:hover {
        background-color: white;
        border: solid 1px black;

        .registerStyle:hover {
          color: black;
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
          transform: scale(1.2);
        }
      }
    }
  }
}

@media only screen and (max-width: $widthBreakPoint) {
  .SignUp {
    .signUpBox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .inputBox,
      .checkBox {
        width: 100vw;
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
}
